@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazir";
  src: url(../assets/fonts/Vazir-Regular-FD.woff2);
}

@layer base {
  html {
    font-family: "Vazir";
  }
}
